<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - vxfemboy</title>
    <meta name="description" content="Zoa Hickenlooper (vxfemboy) - low level network software engineer, chaos computing enthusiast, packet bender">

    <!-- Open Graph -->
    <meta property="og:type" content="profile">
    <meta property="og:url" content="https://zoa.sh/about">
    <meta property="og:title" content="About - vxfemboy">
    <meta property="og:description" content="low level network software engineer | chaos computing enthusiast | packet bender">
    <meta property="og:image" content="https://zoa.sh/static/og-image.png">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="About - vxfemboy">
    <meta name="twitter:description" content="low level network software engineer | chaos computing enthusiast | packet bender">
    <meta name="twitter:image" content="https://zoa.sh/static/og-image.png">

    <link rel="icon" type="image/png" href="/static/favicon.png">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="alternate" type="application/rss+xml" title="vxfemboy blog RSS" href="/rss.xml">
    <script>window.ZOA_DEBUG = {{ debug | json_encode }};</script>
    <div id="stars-container">
        {% for star in stars %}
            <div class="star" style="left: {{ star.x }}%; top: {{ star.y }}%; animation-delay: {{ star.delay }}s; transform: scale({{ star.size }});">{{ star.char }}</div>
        {% endfor %}
    </div>
    <div class="ascii-container">
        <div class="ascii-title">
            <pre>{{ title_art | safe }}</pre>
        </div>

        <div class="ascii-nav">
            <div class="box-tiny"><pre>{{ navigation_box.tiny | safe }}</pre></div>
            <div class="box-small"><pre>{{ navigation_box.small | safe }}</pre></div>
            <div class="box-medium"><pre>{{ navigation_box.medium | safe }}</pre></div>
            <div class="box-large"><pre>{{ navigation_box.large | safe }}</pre></div>
        </div>

        <div class="main-content-wrapper">
            <div class="ascii-content">
                <div class="ascii-box">
                    <div class="box-tiny"><pre>{{ summary_box.tiny | safe }}</pre></div>
                    <div class="box-small"><pre>{{ summary_box.small | safe }}</pre></div>
                    <div class="box-medium"><pre>{{ summary_box.medium | safe }}</pre></div>
                    <div class="box-large"><pre>{{ summary_box.large | safe }}</pre></div>
                </div>

                {% for card in experience_cards %}
                <div class="ascii-box">
                    <div class="box-tiny"><pre>{{ card.tiny | safe }}</pre></div>
                    <div class="box-small"><pre>{{ card.small | safe }}</pre></div>
                    <div class="box-medium"><pre>{{ card.medium | safe }}</pre></div>
                    <div class="box-large"><pre>{{ card.large | safe }}</pre></div>
                </div>
                {% endfor %}
            </div>

            <div class="ascii-sidebar">
                <div class="ascii-box profile-box" data-no-responsive>
                    <pre class="profile-art">{{ profile_art | safe }}</pre>
                </div>

                <div class="ascii-box">
                    <div class="box-tiny"><pre>{{ skills_box.tiny | safe }}</pre></div>
                    <div class="box-small"><pre>{{ skills_box.small | safe }}</pre></div>
                    <div class="box-medium"><pre>{{ skills_box.medium | safe }}</pre></div>
                    <div class="box-large"><pre>{{ skills_box.large | safe }}</pre></div>
                </div>

                <div class="ascii-box">
                    <div class="box-tiny"><pre>{{ education_box.tiny | safe }}</pre></div>
                    <div class="box-small"><pre>{{ education_box.small | safe }}</pre></div>
                    <div class="box-medium"><pre>{{ education_box.medium | safe }}</pre></div>
                    <div class="box-large"><pre>{{ education_box.large | safe }}</pre></div>
                </div>

                <div class="ascii-box">
                    <div class="box-tiny"><pre>{{ links_box.tiny | safe }}</pre></div>
                    <div class="box-small"><pre>{{ links_box.small | safe }}</pre></div>
                    <div class="box-medium"><pre>{{ links_box.medium | safe }}</pre></div>
                    <div class="box-large"><pre>{{ links_box.large | safe }}</pre></div>
                </div>
            </div>
        </div>

        <div class="ascii-footer">
            <div class="box-tiny"><pre>{{ footer_box.tiny | safe }}</pre></div>
            <div class="box-small"><pre>{{ footer_box.small | safe }}</pre></div>
            <div class="box-medium"><pre>{{ footer_box.medium | safe }}</pre></div>
            <div class="box-large"><pre>{{ footer_box.large | safe }}</pre></div>
        </div>
    </div>

    <script type="module" src="/static/js/cat.js"></script>
    <script type="module" src="/static/js/responsive-pre.js"></script>
</body>
</html>
